script#raspbeeremote-template(type='text/template')
  li.sortable.button.no-header
    label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
    span.attributes(data-bind="template: { name: 'attribute-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")
    div.ui-temp
      div.ui-spacer
      .button-control.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all.ui-mini.no-carousel-slide(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced='true')
        .ui-controlgroup-controls
          a.ui-first-child.ui-last-child.ui-btn.ui-corner-all.button(name='powerButton', data-bind='click: onButtonPress.bind($data,"power")') Power
          a.ui-first-child.ui-btn.ui-corner-all.button(name='upButton', data-bind='click: onButtonPress.bind($data,"up")') Up
          a.ui-last-child.ui-btn.ui-corner-all.button(name='downButton', data-bind='click: onButtonPress.bind($data,"down")') Down
          a.ui-first-child.ui-btn.ui-corner-all.button(name='leftButton', data-bind='click: onButtonPress.bind($data,"left")') Left
          a.ui-last-child.ui-btn.ui-corner-all.button(name='rightButton', data-bind='click: onButtonPress.bind($data,"right")') Right
